.signup{
    background: url('../../assets/bgprakarsh.png');
    height: 190vh;
    /* width: 100vw; */
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    /* min-width: 2000px; */

}

.shead h1{
    padding-top: 5rem;
    font-size: 3rem;
    font-family: 'valorant';
    display: flex;
    justify-content: center;
    background: linear-gradient( 180deg,rgba(128, 128, 128) 1.25%, rgba(128, 128, 128)1.26%, rgba(255, 255, 255) 1.27%, rgba(255,255,255,0.4) 69.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 10px;
    
}

.shead p{
    display: flex;
    justify-content: center;
    font-family: 'valorant';
    text-align: center;
}


<<<<<<< HEAD
.scontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.inputbox{
    position: relative;
    width: 250px;
}

.inputbox input{
    width: 100%;
    padding: 10px;
    border: 1px solid  rgb(1, 209, 105);
    background: rgb(1, 15, 20,0.25);
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em; 
    
}

.inputbox span{

    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(1, 209, 105,0.5);

    text-transform: uppercase;
}

.inputbox .input:valid ~ span,
.inputbox .input:valid ~  span :focus
{

}




=======
>>>>>>> 8823b651373b5423cdf7c57224838b969736e12b
