#timeCounter{
    border: 1px solid white;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 120px;
    margin: 0;
}

/* hr{
    border-top: 10px solid #fff;
} */

.counter{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 0;
    align-items: center;
}

.counter p{
    font-size: 12px;
    margin: 0;
}


@media(max-width: 600px){
    icon{
        display:inline;
    }
}