<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="payment.css">
</head>
<body>
    <div class=""></div>
    <div class="wholedoc">
        <h1 id="title"> Prakarsh'23 </h1>
       
        
        <p>    
        <strong> Participation Recepit</strong> 
        </p>
    
    
        <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="widget-box">
                        <div class="widget-body">
                            <div class="widget-main padding-24">
                                <div class="row">
                                    <div class="col-sm-6">
        
                                        <div>
                                            <ul class="list-unstyled spaced">
                                                <li>
                                                    <b>Name:</b> parth
                                                </li>
        
                                                <li>
                                                    <b>Email:</b> parth@123
                                                </li>
        
                                                <li>
                                                    <b>mobile:</b> +91 3567
                                                </li>
        
                                                <li>
                                                    <b>collage:</b> IIT Bangalore
                                                </li>
                                                <li>
                                                    <b>Department:</b> Information Technology
                                                </li>
                                                <li>
                                                    <b>Year:</b> Third
                                                </li>
        
                                               
                                            </ul>
                                        </div>
                                    </div><!-- /.col -->

                                  
                                </div><!-- /.row -->
        
                                <div class="space"></div>
        
                                <div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="center">Sr. No.</th>
                                                <th>Event Name</th>
                                                <th class="hidden-xs">Date</th>
                                                
                                            </tr>
                                        </thead>
        
                                        <tbody>
                                            <tr>
                                                <td class="center">1</td>
        
                                                <td>xyz</td>
                                                <td class="hidden-xs"> 5th april</td>
                                            </tr>
        
                                            <tr>
                                                <td class="center">2</td>
        
                                                <td>xyz</td>
                                                <td class="hidden-xs"> 5th april</td>
                                               
                                            </tr>
        
                                            <tr>
                                                <td class="center">3</td>
                                                <td>xyz</td>
                                                <td class="hidden-xs"> 5th april</td>
                                                
                                            </tr>
        
                                            <tr>
                                                <td class="center">4</td>
                                                <td>xyz</td>
                                                <td class="hidden-xs"> 5th april</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
        
                                <div class="hr hr8 hr-double hr-dotted"></div>
                                <div class="space-6"></div>
                                <div class="well center">
                                    Sardar Vallabhbhai patel Institute of Technology
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>