<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="payment.css">

    <title>Payment_Recepit</title>
</head>

<body>
    <div class="wholedoc ">
        <div>
            <img src="../../assets/logo.svg" alt="Prakarsh Logo ">
            <div class="titlerecepit">


                <h1 id="title" class="p-5"> Prakarsh'23 </h1>

                <p>
                    <strong class="p-5"> Participation Recepit</strong>
                </p>


                <div class="row p-5">
                    <!-- <div class="col-sm-10 col-sm-offset-1"> -->
                    <div class="widget-box">


                        <div class="col-sm-6">


                            <ul class="list-unstyled spaced">
                                <li>
                                    <b>Name:</b> parth
                                </li>

                                <li>
                                    <b>Email:</b> parth@123
                                </li>

                                <li>
                                    <b>mobile:</b> +91 3567
                                </li>

                                <li>
                                    <b>collage:</b> IIT Bangalore
                                </li>
                                <li>
                                    <b>Department:</b> Information Technology
                                </li>
                                <li>
                                    <b>Year:</b> Third
                                </li>


                            </ul>

                        </div><!-- /.col -->


                    </div><!-- /.row -->
                </div>

                <div class="p-5">


                    <table class="table table-striped  mt-5 p-5">
                        <thead>
                            <tr class="table-dark">
                                <th class="center">Sr. No.</th>
                                <th>Event Name</th>
                                <th class="hidden-xs">Date</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center">1</td>

                                <td>xyz</td>
                                <td class="hidden-xs"> 5th april</td>
                            </tr>

                            <tr>
                                <td class="center">2</td>

                                <td>xyz</td>
                                <td class="hidden-xs"> 5th april</td>

                            </tr>

                            <tr>
                                <td class="center">3</td>
                                <td>xyz</td>
                                <td class="hidden-xs"> 5th april</td>

                            </tr>

                            <tr>
                                <td class="center">4</td>
                                <td>xyz</td>
                                <td class="hidden-xs"> 5th april</td>

                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="invoice-footer ">
                    <p class="text-center">Sardar Vallabhai patel institute of technology
                        <a href="#" class="btn btn-default ml15"><i class="fa fa-print mr5 "></i>
                            Print</a>
                    </p>
                </div>




</body>

</html>