<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wholedoc">
        .
        <h1 id="title"> Prakarsh'23 </h1>
       
        
        <p>    
        <strong> Payment Recepit</strong> 
                <small> Transaction Reference : pay_sldkjfslkj 
                This is a payment receipt for your transaction on Prakarsh’23    
                </small>
            
            </p>

        <div class="amount">
            <h3> AMOUNT PAID  <span> &#8377; </span> <span> 100.00   </span> </h3>
        </div>
        
        <div class="billdate">
            <table>
                <tr>
                    <td>
                        <th> ISSUED TO </th>
                    </td>
                    <td>
                        <th> PAID ON </th>
                    </td>
                </tr>

                <tr>
                    <td>
                        sisodiyaaksh@gmail.com
                    </td>
                    <td>
                        24 Feb 2023
                    </td>
                </tr>
                <tr>
                        <td>
                            +911234567890
                        </td>
                </tr>

            </table>

            <h2>
                Name 
            </h2>
            <p> Antanriksh Sisodiya </p>
        </div>

        


        
    </div>
</body>
</html>